<h1>Index/Products</h1>

<% @products.each do |product| %>
  <ul>
    <li><%= link_to product.name, product %></li>
    <p><%= product.description %></p>
    <p><%= formatted_price(product.price) %></p>
  </ul>
<% end %>

